body {
	background-color: #B4B4B4;
	font-family: Helvetica, Arial, sans-serif;
}
.room {
	background-color: #333;
	padding: 10px 70px;
	margin: auto;
	max-width: 600px;
}

/* name */
dt {
	color: #fff;
	margin-top: 10px;
	position: relative;
}
.p {
	text-align: right;
}
/* avatar */
dt:not(.p)::before {
	position: absolute;
	right: calc(100% + 60px);
	zoom: 30%;
}
/* avatar (player) */
dt.p::before {
	position: absolute;
	left: calc(100% + 60px);
	zoom: 30%;
}
.y::before { content: url('y.png'); }
.s::before { content: url('s.png'); }
.h::before { content: url('h.png'); }
.g::before { content: url('g.png'); }
.j::before { content: url('j.png'); }
.v::before { content: url('v.png'); }
.p::before { content: url('p.png'); }

/* message bubble */
dd {
	border-radius: 0.5em;
	background-color: #FFFFFF;
	padding: 0.5em;
	position: relative;
	margin-left: 0px;
}
/* message bubble colors */
.y+dd { background-color: rgb(239,255,243); }
.s+dd { background-color: rgb(255,241,241); }
.h+dd { background-color: rgb(243,253,255); }
.g+dd { background-color: rgb(229,229,229); }
.j+dd { background-color: rgb(253,243,234); }
.v+dd { background-color: rgb(203,252,252); }
.p+dd { background-color: rgb(255,255,237); }
/* chat arrow */
dt:not(.p):not(.vn) + dd::before {
	content: '';
	height: 0;
	width: 0;
	font-size: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 10px solid #fff;
	position: absolute;
	left: -10px;
	top: 7px;
}
/* chat arrow (player) */
.p+dd::before {
	content: '';
	height: 0;
	width: 0;
	font-size: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 10px solid #fff;
	position: absolute;
	right: -10px;
	top: 7px;
}

/* system messages */
p.leave, p.enter {
	text-align: center;
	color: #B4B4B4;
	font-weight: bold;
}
p.leave::after {
	content: ' left the chatroom.';
}
p.enter::after {
	content: ' entered the chatroom.';
}
p.error {
	color: red;
	background-color: #fff;
}

/* choice identifier */
.option {
	background-color: #ccc;
	padding: 0.5em 1em;
	width: 90%;
	border: 3px outset #aaa;
	display: block;
	margin: 1em auto;
	text-align: left;
	white-space: normal;
}
.option:focus {
	background-color: #fff;
}
.select {
	display: none;
	margin: auto;
	width: calc(100% - 80px);
}
.selectset {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-radius: 1em;
	margin: 1em 0;
	padding: 1em 0;
}